NODE_ENV=dev
PORT_SERVEUR=3000
GLOBAL_IP=127.0.0.1
DATABASE_URL_PSQL=postgresql://postgres:admin@127.0.0.1:5433/lab_inspection?schema=public
FRONTEND_URL=http://localhost:4000
JWT_SECRET=LxmW9LPYFxZ3IiDOEOwJ

# FTP server configuration
FTP_HOST=localhost
FTP_PORT=21
FTP_USER=inspection_engine 
FTP_PASSWORD=admin
FTP_SECURE=false