NODE_ENV=dev
PORT_SERVEUR=3000
GLOBAL_IP=localhost
DATABASE_URL_PSQL=postgresql://postgres:admin@localhost:5432/cockpit_nap?schema=public
FRONTEND_URL=http://localhost:4000
JWT_SECRET=LxmW9LPYFxZ3IiDOEOwJ
JWT_EXPIRES_IN=7d
SALT_ROUNDS=12
GRAFANA_INTERNAL_URL=http://localhost:3100/grafana
GRAFANA_API_KEY=glsa_dkFgE0MZtRrB0VrdqQrBVZkYVux4oGGh_0d0d8400
METRICS_TARGETS_DIR=../data/metrics/targets
WINDOWS_TARGETS_FILE=windows_exporter.json
LINUX_TARGETS_FILE=linux_exporter.json
PROMETHEUS_SD_TOKEN=changeme
DB_CONN_SECRET=changeme
