NODE_ENV=dev
PORT_SERVEUR=3000
GLOBAL_IP=localhost
DATABASE_URL_PSQL=postgresql://postgres:admin@localhost:5432/cockpit_nap?schema=public
FRONTEND_URL=http://localhost:4000
JWT_SECRET=LxmW9LPYFxZ3IiDOEOwJ
JWT_EXPIRES_IN=7d
SALT_ROUNDS=12
GRAFANA_INTERNAL_URL=http://localhost:3100/grafana
GRAFANA_API_KEY=glsa_gtVuHYIbo9PorvhMKUEvaeFJkd5oSk6L_33171d79
